h1 {
  color: red;
  font-size: larger;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: mediumturquoise;
  height: 100vh;
  width: 100%;
}
